/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top {
    margin: 50px auto 0;
    /*---------------part1------------------------*/
    .p-useage {
        margin: 0 auto;
        width: 100%;
        max-width: 1120px;
        position: relative;
        margin-bottom: 267px;
    
        h4 {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 2px;
            margin-bottom: 5px;
        }

        h2 {
            text-align: center;
            font-size: 4.3rem;
            font-weight: bolder;
            letter-spacing: 1.2rem;
            line-height: 1;
        }

        &__item {
            display: inline-block;
            position: relative;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7) {
                padding-right: 39px;
            }
        }

        &__cmt {
            width: 116px;
            position: absolute;
            bottom: 90px;
        }

    }
}

.p-top1 {
    background-color: #f5f4ee;
    padding: 72px 415px;

    &__pointintro {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 52px;
    }

    &__intro {
        padding-left: 120px;
        padding-top: 27px;

        img {
            margin-bottom: 20px;
            
        }

        p {
            font-size: 2.2rem;
            text-transform: uppercase;
        }

        p::before {
            content: "";
            display: block;
            width: 35px;
            height: 2px;
            background-color: #000;
            margin-bottom: 6px;
            margin-left: 18px;
        }
    }

    &__introcontent {
        padding-top: 23px;
        padding-left: 29px;

        h3 {
            color: #176b6a;
            font-size: 3.5rem;
            letter-spacing: 0.45rem;
            margin-bottom: 14px;
        }

        p {
            padding-left: 2px;
            letter-spacing: 0.14rem;
            line-height: 1.8;
        }
    }

    &__pointcontent {
        display: flex;
        justify-content: space-between;
    }

    &__pointitem {
        max-width: 32%;
        position: relative;
        background-color: transparent;

        img:nth-child(odd) {
            border-radius: 2.6rem;
            background-color: transparent;
            width: 100%;
        }

        img:nth-child(even) {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    &__pointimage {
        position: relative;
    }

    &__pointover {
        background-color: rgba($color: #fff, $alpha: 0.7);
        border-radius: 2.6rem;
        position: absolute;
        padding: 43px 45px 59px;
        margin: 20px;
        top: 0;
        left: 0;

        h2 {
            color: #176b6a;
            text-align: center;
            font-size: 2.5rem;
            letter-spacing: 0.15rem;
            margin-bottom: 24px;

            &::after {
                content: "";
                display: block;
                position: relative;
                height: 1px;
                width: 50px;
                background-color: #176b6a;
                left: 75px;
                top: 10px;
            }
        }

        p {
            font-size: 1.3rem;
            letter-spacing: 0.02rem;
            line-height: 1.6;
            margin-bottom: 40px;
        }

        a {
            background: url("./_public/assets/img/nav-bg.png") no-repeat center;
            width: 200px;
            padding: 10px 0;
            line-height: 1.6;
            margin: 0 auto;

            span {
                font-size: 1.5rem;
                padding: 0 28px 0 30px;
                color: #fff;
                letter-spacing: 0.25rem;
            }
        }

    }
}
