/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top {
    margin: 75px auto 100px;  
}

/*---------------part1------------------------*/
.p-useage {
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
    margin-bottom: 94px;

    h4 {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 2px;
    }

    h2 {
        text-align: center;
        font-size: 4.48rem;
        font-weight: bolder;
        letter-spacing: 1.1rem;
        line-height: 1;
    }

    &__productdisplay {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 30px;

        &:nth-child(1) {
            margin-left: 80px;
            position: relative;
            top: 0;
            left: 0;
        }

        &:nth-child(2) {
            margin-left: 41px;
            margin-top: 41px;
        }

        &:nth-child(3) {
            margin-left: 37px;
            margin-top: 41px;
        }

        &:nth-child(4) {
            margin-left: 51px;
            position: relative;
            top: 0;
            left: 0;
        }

        &:nth-child(5) {
            margin-left: 91px;
            margin-top: 61px;
        }

        &:nth-child(6) {
            margin-left: 11px;
            margin-top: 111px;
            position: relative;
            top: 0;
            left: 0;
        }

        &:nth-child(7) {
            margin-left: 82px;
            margin-top: 84px;
        }

        &:nth-child(8) {
            position: relative;
            top: 0;
            left: 0;
        }
    }

    &__cmt {
        position: absolute;
        bottom: 90px;
    }

}

.p-top1 {
    background-color: #f5f4ee;
    padding-top: 69px;
    padding-bottom: 108px;

    &__pointpart {
        margin-bottom: 80px;
    }

    &__pointintro {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 52px;
    }

    &__intro {
        padding-left: 120px;
        padding-top: 27px;

        img {
            margin-bottom: 20px; 
        }

        p {
            font-size: 2.2rem;
            text-transform: uppercase;
        }

        p::before {
            content: "";
            display: block;
            width: 35px;
            height: 2px;
            background-color: #000;
            margin-bottom: 6px;
            margin-left: 18px;
        }
    }

    &__introcontent {
        padding-top: 23px;
        padding-left: 29px;

        h3 {
            color: #176b6a;
            font-size: 3.5rem;
            letter-spacing: 0.45rem;
            margin-bottom: 14px;
        }

        p {
            padding-left: 2px;
            letter-spacing: 0.14rem;
            line-height: 1.8;
        }
    }

    &__pointcontent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__pointitem {
        max-width: 32%;
        position: relative;
        background-color: transparent;

        img:nth-child(odd) {
            border-radius: 2.6rem;
            background-color: transparent;
            max-width: 100%;
        }

        img:nth-child(even) {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    &__pointimage {
        position: relative;
    }

    &__pointover {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 290px;
        max-height: 290px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        border-radius: 2.6rem;
        position: absolute;
        padding: 0 45px;
        margin: 20px;
        top: 0;
        left: 0;

        h2 {
            color: #176b6a;
            text-align: center;
            font-size: 2.5rem;
            letter-spacing: 0.15rem;
            line-height: 28px;
            margin-bottom: 15px;

            &::after {
                content: "";
                display: block;
                position: relative;
                height: 1px;
                width: 50px;
                background-color: #176b6a;
                left: 50%;
                transform: translate(-50%);
                top: 16px;
            }
        }

        p {
            font-size: 1.3rem;
            letter-spacing: 0.02rem;
            line-height: 1.6;
            margin-top: 15px;
            margin-bottom: 27px;
        }

        a {
            background: url("./_public/assets/img/nav-bg.png") no-repeat center;
            width: 200px;
            padding: 10px 0;
            line-height: 1.6;
            margin: 0 auto;

            span {
                font-size: 1.5rem;
                padding: 0 28px 0 30px;
                color: #fff;
                letter-spacing: 0.25rem;
            }
        }

    }

    &__pointover:nth-child(1) {
        display: flex;
    }

    &__footer {
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;

        h3 {
            color: #176b6a;
            font-size: 3rem;
            text-align: center;
            letter-spacing: 0.3rem;
            margin-bottom: 41px;
        }

        p {
            text-align: center;
            font-size: 1.4rem;
        }
    }

    &__branding {
        display: flex;
        column-gap: 25px;
        row-gap: 25px;
    }

    &__logo {
        position: relative;
        width: 260px;
        height: 110px;
        // background-color: #fff;
        // border-radius: 1.6rem;
        // margin-bottom: 45px;

        img {
            max-width: 100%;
            border-radius: 1.5rem;
        }


        // img:first-child {
        //     position: relative;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%, -50%);
        // }

        // img:last-child {
        //     position: absolute;
        //     right: 15px;
        //     top: 50%;
        //     transform: translateY(-50%);
        // }
    }
}

.p-top2 {
    padding-top: 76px;
    margin-bottom: 107px;

    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 3.6rem;
        color: #176b6a;
        font-weight: 300;
        letter-spacing: 0.4rem;
        margin-bottom: 41px;
    }

    &__qa--part {
        padding: 0 85px;
        margin-bottom: 45px;
    }

    &__quest--part {
        display: flex;
        align-items: center;
        margin-bottom: 7px;

        p {
            display: inline-block;
            color: #176b6a;
            margin-left: 15px;
            letter-spacing: 0.04rem;
            font-size: 1.5rem;
            line-height: 55px;
        }
    }

    &__q--icon {
        display: inline-block;
        position: relative;
        width: 59px;

        img {
            width: 100%;
            height: 100%;
        }

        span {
            text-transform: capitalize;
            color: #333;
            font-size: 2.6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__ans--part {
        p {
            letter-spacing: 0.15rem;
        }
    }
}

.p-top3 {
    &__banner {
        margin-bottom: 50px;

        img {
            border-radius: 5rem;
            background-color: transparent;
        }
        
    }

    &__content {
        margin: 0 85px 36px;
        padding-bottom: 31px;
        position: relative;
        border-bottom: 1px solid #176b6a;

        p:nth-child(2) {
            letter-spacing: 0.133rem;
            max-width: 816px;
            width: 100%;
            line-height: 1.5;
        }
    }

    &__content--image {
        display: flex;
        align-items: center;
        margin-bottom: 19px;

        img {
            border-radius: 10px;
            background-color: transparent;
        }
    }

    &__des {
        margin-left: 14px;
        padding-top: 5px;
        p {
            line-height: 1;
            letter-spacing: 0.15rem;
        }

        h3 {
            font-size: 2.6rem;
            letter-spacing: 0.15rem;
        }
    }

    &__arrow {
        position: absolute;
        top: 42%;
        right: 0;
        
        img {   
            height: 35px;
        }

    }
}
