/*------------------------------------------------------------
line
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-line1 {
    width: 60px;
    margin: 0 auto 23px;
    border-bottom: 2px solid #000;
}

