//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media only screen and (max-width: 376px) {
        @content;
    }
}

@mixin screen750 {
    @media only screen and (max-width: 750px) {
        @content;
    }
}

@mixin tab {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

@mixin screen1200 {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}
