///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------
// 
.u-mg--bt {
    margin-bottom: 104px;
}

//------------------------------------------------------------
// image width for product items in p-usage section
//------------------------------------------------------------
.u-img--w1 {
    img {
        width: 54px;
    }
}

.u-img--w2 {
    img {
        width: 85px;
    }
}

.u-img--w3 {
    img {
        width: 42px;
    }
}

.u-img--w4 {
    img {
        width: 60px;
    }
}

.u-img--w5 {
    img {
        width: 155px;
    }
}

.u-img--w6 {
    img {
        width: 126px;
        height: 107px;
    }
}

.u-img--w7 {
    img {
        width: 160px;
    }
}

.u-display--none {
    display: none;
}

.u-display--block {
    display: block;
}

.u-top2 {
    transform: translateY(-200%);
    transition: all 2s ease-in-out;
}
