///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------
// 
.u-mg--bt {
    margin-bottom: 104px;
}

//------------------------------------------------------------
// image width for product items in p-usage section
//------------------------------------------------------------
.u-img--w1 {
    img {
        width: 54px;
    }
}

.u-img--w8 {
    img {
        width: 54px;
    }
}

.u-img--w2 {
    img {
        width: 85px;
    }
}

.u-img--w3 {
    img {
        width: 42px;
    }
}

.u-img--w4 {
    img {
        width: 60px;
    }
}

.u-img--w5 {
    img:nth-child(3) {
        width: 155px;
    }
}

.u-img--w6 {
    img {
        width: 126px;
        height: 107px;
    }
}

.u-img--w7 {
    img {
        width: 160px;
    }
}

@include sp {
    .u-img--w1 {
        img {
            width: 31px;
        }
    }

    .u-img--w8 {
        img {
            width: 35px;
        }
    }
    
    .u-img--w2 {
        img {
            transform: rotateY(180deg);
            width: 45px;
        }
    }
    
    .u-img--w3 {
        img {
            width: 30px;
        }
    }
    
    .u-img--w4 {
        img {
            width: 38px;
        }
    }
    
    .u-img--w5 {
        img:nth-child(1) {
            max-width: 112px;
        }

        img:nth-child(2) {
            max-width: 108px;
        }

        img:nth-child(3) {
            max-width: 111px;
        }
    }
    
    .u-img--w6 {
        img {
            width: 60px;
            height: 56px;
        }
    }
    
    .u-img--w7 {
        img {
            width: 80px;
        }
    }
}

.u-display--none {
    display: none;
}

.u-display--block {
    display: block;
}

.u-top1 {
    top: 46%;
}

.u-top2 {
    transform: translateY(-200%);
    transition: all 2s ease-in-out;
}
