//baseWidth
$base-width: 1920px;

$main-fonts: "Sawarabi Mincho", Sawarabi Mincho, "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

$font1: Segoe Script;

//color common
