/* Header
------------------------------------------------------------*/
.c-header {
    margin: 0 auto;

    &__banner {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 1120px;
        padding-top: 100px;
    }

    &__image {
        img:first-child {
            border-radius: 60px;
            width: 1120px;
        }
    }

    &__content {
        position: absolute;
        top: 34.4%;
        left: 15.5%;
        text-align: center;
        line-height: 1;

        h3 {
            font-size: 2.7rem;
            font-weight: 400;
            margin-bottom: 1px;
            letter-spacing: 1.7px;
        }

        img {
            margin-bottom: 11px;
        }

        .c-line1 {
            width: 60px;
            margin: 0 auto 23px;
            border-bottom: 2px solid #000;
        }

        h4 {
            font-size: 1.7rem;
            letter-spacing: 0.05rem;
            margin-bottom: 30px;
            font-weight: lighter;
        }

        p {
            font-size: 1.7rem;
            letter-spacing: 0.015rem;
            line-height: 1.5;
            margin-bottom: 7px;
        }

        h2 {
            font-size: 3rem;
            font-weight: 400;
            margin-bottom: 42px;
            letter-spacing: 0.3rem;
        }        

        a {
            background-color: #25a989;
            border-radius: 100px;
            padding: 10px 43px;
            color: #fff;
            text-align: center;
            font-size: 2.5rem;
            cursor: pointer;
            letter-spacing: 0.65rem;
        }
    }

    //Drop layer animation
    &__droplayer {
        position: absolute;
        width: 100%;
        z-index: 1;
        transform: translateY(0%);
        transition: all 2s ease-in-out;

    }

    &__droplayer1 {
        transform: translate(26.9%, 61%);
        animation: move1 0.8s linear infinite;
    }

    &__droplayer2 {
        transform: translate(55.5%, -46%);
        animation: move2 0.8s linear infinite;
    }
    
    &__droplayer3 {
        transform: translate(80.2%, -155%);
        animation: move3 0.8s linear infinite;
    }
    
    &__droplayer4 {
        transform: translate(14.8%, 82%);
        animation: move4 0.8s linear infinite;
    }
    
    &__droplayer5 {
        transform: translate(27.7%, 89.5%);
        animation: move5 0.8s linear infinite;
    }
    
    &__droplayer6 {
        transform: translate(69.3%, -15%);
        animation: move6 0.8s linear infinite;
    }
}

/* Drop animation
------------------------------------------------------------*/
@keyframes move1 {
    0% {
        transform: translate(26.9%, 61%);
    }

    50% {
        transform: translate(26.9%, 68%);
    }

    100% {
        transform: translate(26.9%, 61%);
    }
}
@keyframes move2 {
    0% {
        transform: translate(55.5%, -46%);
    }

    50% {
        transform: translate(55.5%, -51%);
    }

    100% {
        transform: translate(55.5%, -46%);
    }
}
@keyframes move3 {
    0% {
        transform: translate(80.2%, -155%);
    }

    50% {
        transform: translate(80.2%, -148%);
    }

    100% {
        transform: translate(80.2%, -155%);
    }
}

@keyframes move4 {
    0% {
        transform: translate(14.8%, 82%);
    }

    50% {
        transform: translate(14.8%, 87%);
    }

    100% {
        transform: translate(14.8%, 82%);
    }
}

@keyframes move5 {
    0% {
        transform: translate(27.7%, 89.5%);
    }

    50% {
        transform: translate(27.7%, 82%);
    }

    100% {
        transform: translate(27.7%, 89.5%);
    }
}

@keyframes move6 {
    0% {
        transform: translate(69.3%, -15%);
    }

    50% {
        transform: translate(69.3%, -10%);
    }

    100% {
        transform: translate(69.3%, -15%);
    }
}


/* Main menu
------------------------------------------------------------*/
.c-gnav {
    width: 190px;
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 20;

    li {
        background: url("./_public/assets/img/nav-bg.png") no-repeat center;
        margin-bottom: 15px;
        height: 40px;
        width: 198px;
        padding: 0 20px;
        line-height: 4.28rem;
    }

    a {
        font-size: 1.7rem;
        text-transform: capitalize;
        color: #fff;
    }
}

