/* layout
------------------------------------------------------------*/
body {
    font-family: "Sawarabi Mincho", serif;
    font-size: 1.4rem;
    max-width: $base-width;
    padding: 30px;
    line-height: 1.5;
    background: url("../_public/assets/img/bg-image.jpg") repeat center;
    background-size: cover;
    @include sp {
        min-width: 320px;
    }
}

.l-background {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.l-leaves {
    position: absolute;

    &__first {
        top: 0;
        left: 688px;
        
    }

    &__second {
        position: absolute;
        top: 470px;
        right: 0;
    }
    
}
//-------------------------------------------------------
// main {
    
// }

// section {
//     // margin-top: 60px;
// }

//-------------------------------------------------------
.l-container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
}
//-------------------------------------------------------
// .c-mainvisual {
//     &__inner {
        
//     }
// }
