/* layout
------------------------------------------------------------*/
body {
    font-family: "Sawarabi Mincho", serif;
    font-size: 1.4rem;
    max-width: $base-width;
    padding: 30px;
    line-height: 1.5;
    background: url("../_public/assets/img/bg-image.jpg") repeat center;
    @include sp {
        min-width: 320px;
    }
    overflow-x: hidden;
}

.l-background {
    width: 100%;
    background-color: #fff;
}

.l-leaves {
    position: fixed;

    &__first {
        top: 0;
        left: 688px;
        transition: all 1s ease-in-out; 
    }

    &__second {
        position: fixed;
        top: 467px;
        right: 0;
        transition: all 1s ease-in-out;
    }
    
}
//-------------------------------------------------------

.l-container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}
//-------------------------------------------------------

