<footer class="c-footer">
  <div class="l-container">
    <div class="c-footer__image">
      <img src="../_public/assets/img/footer-banner.jpg" alt="Banner">
    </div>
    <div class="c-footer__main">
      <div class="c-footer__contact">
        <p>商品に関するお問い合わせは</p>
        <p>健栄製薬株式会社</p>
        <p>TEL | 06-6231-5626&nbsp;&nbsp; 受付時間 | 8:45〜17:30(土日祝日を除く)</p>
      </div>
      <div class="c-footer__logo">
        <img src="../_public/assets/img/logo-footer.png" alt="Logo">
        <p>©KENEI Pharmaceutical</p>
      </div>
    </div>
  </div>
</footer>